@model FantasyPremierLeague.ViewModels.FixtureListViewModel

@{
    ViewData["Title"] = "Fixtures";
}

<h2>All Fixtures</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Gameweek</th>
            <th>Home (FDR)</th>
            <th>Away (FDR)</th>
            <th>Score</th>
            <th>Kickoff Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.fixtures)
        {
            <tr>
                <td>@x.id</td>
                <td>@x._event</td>
                <td><a asp-controller="Team" asp-action="Details" asp-route-id="@x.team_h">@x.team_h</a> (@x.team_a_difficulty)</td>
                <td><a asp-controller="Team" asp-action="Details" asp-route-id="@x.team_a">@x.team_a</a> (@x.team_h_difficulty)</td>
                <td>@x.team_h_score - @x.team_a_score</td>
                <td>@x.kickoff_time</td>
            </tr>
        }
    </tbody>
</table>
