@model FantasyPremierLeague.ViewModels.FixtureListViewModel

@{
    ViewData["Title"] = "Fixtures";
}

<div class="text-center">
    <h1 class="display-5">Fixtures</h1>
</div>

<form asp-controller="Fixture" asp-action="Filter">
    <div class="row mb-3">
        <div class="col-3">
            <label for="team" class="col-form-label">Team</label>
            <select class="form-select" asp-for="@Model.team_id" asp-items="@Model.teams_selectlist" id="team">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-3">
            <label for="event" class="col-form-label">Gameweek</label>
            <select class="form-select" asp-for="@Model.event_id" asp-items="@Model.events_selectlist" id="event">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-3">
            <label for="phase" class="col-form-label">Phase</label>
            <select class="form-select" asp-for="@Model.phase_id" asp-items="@Model.phases_selectlist" onchange="() => submit" id="phase">
            </select>
        </div>
        @*Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />*@
    </div>
    <div class="row">
        <div class="col-auto">
            <input type="submit" value="Filter" />
        </div>
    </div>
</form>

<div>
    <span>Winner prediction true = @Model.prediction_true_count / @Model.fixtures_list.Count | </span>
    <span>Hometeam won = @Model.team_h_win_count / @Model.fixtures_list.Count | </span>
    <span>Draw prediction = @Model.draw_predicted_count / @Model.fixtures_list.Count | </span>
    <span>Draws = @Model.draw_count / @Model.fixtures_list.Count | </span>
</div>

<table class="table table-hover table-striped-columns">
    <thead>
        <tr>
            @*<th>@Html.DisplayNameFor(model => model.fixtures_list[0].id)</th>*@
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.fixtures_list[0].Event)"
                class="text-center">
                GW
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fixtures_list[0].team_h)
                (@Html.DisplayNameFor(model => model.fixtures_list[0].team_a_difficulty))
            </th>
            <th>@Html.DisplayNameFor(model => model.fixtures_list[0].team_h_score)</th>
            <th>
                @Html.DisplayNameFor(model => model.fixtures_list[0].team_a)
                (@Html.DisplayNameFor(model => model.fixtures_list[0].team_a_difficulty))
            </th>
            <th>@Html.DisplayNameFor(model => model.fixtures_list[0].kickoff_time)</th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.fixtures_list[0].predicted_winner)"
                class="text-center">
                PW
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.fixtures_list[0].actual_winner)"
                class="text-center">
                AW
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.fixtures_list)
        {
            <tr>
                @*<td>@item.id</td>*@
                <td>@item.Event</td>
                <td><a asp-controller="Team" asp-action="Details" asp-route-id="@item.team_h">@item.team_h_name</a> (@item.team_h_difficulty)</td>
                <td>@item.team_h_score - @item.team_a_score</td>
                <td><a asp-controller="Team" asp-action="Details" asp-route-id="@item.team_a">@item.team_a_name</a> (@item.team_a_difficulty)</td>
                <td>@item.kickoff_time</td>
                <td class="text-center">@item.predicted_winner</td>
                <td class="text-center">@item.actual_winner</td>
                <td><a asp-controller="Fixture" asp-action="Details" asp-route-id="@item.id">Details</a></td>
            </tr>
            @*<tr><td class="fw-bold">Extra</td></tr>
            <tr>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.fixtures_list[0].code)</td>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.fixtures_list[0].id)</td>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.fixtures_list[0].pulse_id)</td>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.fixtures_list[0].started)</td>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.fixtures_list[0].provisional_start_time)</td>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.fixtures_list[0].minutes)</td>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.fixtures_list[0].finished)</td>
                <td class="font-weight-bold">@Html.DisplayNameFor(model => model.fixtures_list[0].finished_provisional)</td>
            </tr>
            <tr>
                <td>@item.code</td>
                <td>@item.id</td>
                <td>@item.pulse_id</td>
                <td>@item.started</td>
                <td>@item.provisional_start_time</td>
                <td>@item.minutes</td>
                <td>@item.finished</td>
                <td>@item.finished_provisional</td>
            </tr>
            <tr><td class="bg-dark" colspan="8"></td></tr>
            *@
        }
    </tbody>
</table>
