@model FantasyPremierLeague.ViewModels.LeagueDetailsViewModel

@{
    ViewData["Title"] = $"{Model.league.name}";
}

<div class="text-center">
    <h1 class="display-5">@Model.league.name</h1>
</div>

<table class="table table-hover table-striped-columns">
    <thead>
        <tr>
            <th></th>
            @*<th data-bs-trigger="hover focus"
            data-bs-toggle="popover"
            data-bs-placement="top"
            data-bs-content="@Html.DisplayNameFor(model => model.results_standings_list[0].entry)"
            class="text-center">
            ID
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.results_standings_list[0].entry_name) &
                @Html.DisplayNameFor(model => model.results_standings_list[0].player_name)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.results_standings_list[0].event_total)"
                class="text-center">
                GW
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.results_standings_list[0].total)"
                class="text-center">
                Pts.
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.results_standings_list[0].point_difference_first_place)"
                class="text-center">
                PDFP
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.results_standings_list[0].point_difference_last_place)"
                class="text-center">
                PDLP
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.results_standings_list[0].point_difference_place_up)"
                class="text-center">
                PDPU
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.results_standings_list[0].point_difference_place_down)"
                class="text-center">
                PDPD
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.results_standings_list[0].total_points_on_bench)"
                class="text-center">
                TPOB
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.results_standings_list[0].points_from_auto_subs)"
                class="text-center">
                PFAS
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.results_standings_list)
        {
            <tr>
                <th scope="col">@(Model.results_standings_list.IndexOf(item) + 1)</th>
                @*<td class="text-center">@item.entry</td>*@
                <td>@item.entry_name <br /> (@item.player_name)</td>
                <td class="text-center">@item.event_total</td>
                <td class="text-center">@item.total</td>
                <td class="text-center">@item.point_difference_first_place</td>
                <td class="text-center">@item.point_difference_last_place</td>
                <td class="text-center">@item.point_difference_place_up</td>
                <td class="text-center">@item.point_difference_place_down</td>
                <td class="text-center">@item.total_points_on_bench</td>
                <td class="text-center">@item.points_from_auto_subs</td>
            </tr>
        }
    </tbody>
</table>