@model FantasyPremierLeague.ViewModels.TeamDetailsViewModel

@{
    ViewData["Title"] = $"Details {Model.name} ({Model.short_name})";
}

<div class="text-center">
    <h1 class="display-5">Details @Model.name (@Model.short_name)</h1>
</div>

<table class="table table-hover table-striped-columns">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.position)</th>
            <th>@Html.DisplayNameFor(model => model.name)</th>
            <th>@Html.DisplayNameFor(model => model.played)</th>
            <th>@Html.DisplayNameFor(model => model.win)</th>
            <th>@Html.DisplayNameFor(model => model.draw)</th>
            <th>@Html.DisplayNameFor(model => model.loss)</th>
            <th>@Html.DisplayNameFor(model => model.goals_for)</th>
            <th>@Html.DisplayNameFor(model => model.goals_against)</th>
            <th>@Html.DisplayNameFor(model => model.goal_difference)</th>
            <th>@Html.DisplayNameFor(model => model.points)</th>
            <th>@Html.DisplayNameFor(model => model.form)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.position</td>
            <td>@Model.name</td>
            <td>@Model.played</td>
            <td>@Model.win</td>
            <td>@Model.draw</td>
            <td>@Model.loss</td>
            <td>@Model.goals_for</td>
            <td>@Model.goals_against</td>
            <td>@Model.goal_difference</td>
            <td>@Model.points</td>
            <td>@Model.form</td>
        </tr>
    </tbody>
</table>

<h2>@Html.DisplayNameFor(model => model.strength) (@Model.strength)</h2>

<table class="table table-hover table-striped-columns">
    <thead>

    </thead>
    <tbody>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.strength_overall_home)</th>
            <td>@Model.strength_overall_home</td>
            <th scope="col">@Html.DisplayNameFor(model => model.strength_overall_away)</th>
            <td>@Model.strength_overall_away</td>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.strength_attack_home)</th>
            <td>@Model.strength_attack_home</td>
            <th scope="col">@Html.DisplayNameFor(model => model.strength_attack_away)</th>
            <td>@Model.strength_attack_away</td>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.strength_defence_home)</th>
            <td>@Model.strength_defence_home</td>
            <th scope="col">@Html.DisplayNameFor(model => model.strength_defence_away)</th>
            <td>@Model.strength_defence_away</td>
        </tr>
    </tbody>
</table>

<h2>All Players</h2>

<table class="table table-hover table-striped-columns text-center">
    <thead>
        <tr>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].element_type)">
                @Html.DisplayNameFor(model => model.team_elements[0].element_type).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].now_cost)">
                @Html.DisplayNameFor(model => model.team_elements[0].now_cost).Substring(0, 1)
            </th>
            <th>Name</th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].minutes)">
                @Html.DisplayNameFor(model => model.team_elements[0].minutes).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].points_per_game)">
                PPG
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].total_points)">
                P
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].form)">
                @Html.DisplayNameFor(model => model.team_elements[0].form).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].selected_by_percent)">
                @Html.DisplayNameFor(model => model.team_elements[0].selected_by_percent).Substring(0, 1)
            </th>
            @*<th>TransferIn (GW) / TransferOut (GW) </th>*@
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].chance_of_playing_this_round)">
                COPTR
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].chance_of_playing_next_round)">
                COPNR
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].news)">
                @Html.DisplayNameFor(model => model.team_elements[0].news)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].goals_scored)">
                @Html.DisplayNameFor(model => model.team_elements[0].goals_scored).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].own_goals)">
                OG
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].assists)">
                @Html.DisplayNameFor(model => model.team_elements[0].assists).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].clean_sheets)">
                CS
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].goals_conceded)">
                GC
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].saves)">
                @Html.DisplayNameFor(model => model.team_elements[0].saves).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].penalties_saved)">
                PS
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].penalties_missed)">
                PM
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].yellow_cards)">
                YC
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].red_cards)">
                RC
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].bonus)">
                @Html.DisplayNameFor(model => model.team_elements[0].bonus).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].bps)">
                BPS
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].influence)">
                @Html.DisplayNameFor(model => model.team_elements[0].influence).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].creativity)">
                @Html.DisplayNameFor(model => model.team_elements[0].creativity).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].threat)">
                @Html.DisplayNameFor(model => model.team_elements[0].threat).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].ict_index)">
                @Html.DisplayNameFor(model => model.team_elements[0].ict_index).Substring(0, 3)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.team_elements)
        {
            <tr>
                <td>@x.element_type</td>
                <td>@x.now_cost</td>
                <td><a asp-controller="Element" asp-action="Details" asp-route-id="@x.id"><p>@x.web_name</p>(@x.first_name @x.second_name)</a></td>
                <td>@x.minutes</td>
                <td>@x.points_per_game</td>
                <td>@x.total_points</td>
                <td>@x.form</td>
                <td>@x.selected_by_percent</td>
                <td>@x.chance_of_playing_this_round %</td>
                <td>@x.chance_of_playing_next_round %</td>
                <td><p>@x.news</p>@x.news_added</td>
                <td>@x.goals_scored</td>
                <td>@x.own_goals</td>
                <td>@x.assists</td>
                <td>@x.clean_sheets</td>
                <td>@x.goals_conceded</td>
                <td>@x.saves</td>
                <td>@x.penalties_saved</td>
                <td>@x.penalties_missed</td>
                <td>@x.yellow_cards</td>
                <td>@x.red_cards</td>
                <td>@x.bonus</td>
                <td>@x.bps</td>
                <td>@x.influence</td>
                <td>@x.creativity</td>
                <td>@x.threat</td>
                <td>@x.ict_index</td>
            </tr>
        }
    </tbody>
</table>

<h2>Penalty Takers</h2>

<table class="table table-hover table-striped-columns text-center">
    <thead>
        <tr>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].element_type)">
                @Html.DisplayNameFor(model => model.team_elements[0].element_type).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].now_cost)">
                @Html.DisplayNameFor(model => model.team_elements[0].now_cost).Substring(0, 1)
            </th>
            <th>Name</th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].minutes)">
                @Html.DisplayNameFor(model => model.team_elements[0].minutes).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].points_per_game)">
                PPG
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].total_points)">
                P
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].form)">
                @Html.DisplayNameFor(model => model.team_elements[0].form).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].selected_by_percent)">
                @Html.DisplayNameFor(model => model.team_elements[0].selected_by_percent).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].chance_of_playing_this_round)">
                COPTR
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].chance_of_playing_next_round)">
                COPNR
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].news)">
                @Html.DisplayNameFor(model => model.team_elements[0].news)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].bonus)">
                @Html.DisplayNameFor(model => model.team_elements[0].bonus).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].bps)">
                BPS
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].influence)">
                @Html.DisplayNameFor(model => model.team_elements[0].influence).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].creativity)">
                @Html.DisplayNameFor(model => model.team_elements[0].creativity).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].threat)">
                @Html.DisplayNameFor(model => model.team_elements[0].threat).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].ict_index)">
                @Html.DisplayNameFor(model => model.team_elements[0].ict_index).Substring(0, 3)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].corners_and_indirect_freekicks_order)">
                CIFO
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].direct_freekicks_order)">
                DFO
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].penalties_order)">
                PO
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].penalties_missed)">
                PM
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.penalties_elements)
        {
            <tr>
                <td>@x.element_type</td>
                <td>@x.now_cost</td>
                <td><a asp-controller="Element" asp-action="Details" asp-route-id="@x.id"><p>@x.web_name</p>(@x.first_name @x.second_name)</a></td>
                <td>@x.minutes</td>
                <td>@x.points_per_game</td>
                <td>@x.total_points</td>
                <td>@x.form</td>
                <td>@x.selected_by_percent %</td>
                <td>@x.chance_of_playing_this_round %</td>
                <td>@x.chance_of_playing_next_round %</td>
                <td><p>@x.news</p>@x.news_added</td>
                <td>@x.bonus</td>
                <td>@x.bps</td>
                <td>@x.influence</td>
                <td>@x.creativity</td>
                <td>@x.threat</td>
                <td>@x.ict_index</td>
                <td>@x.corners_and_indirect_freekicks_order</td>
                <td>@x.direct_freekicks_order</td>
                <td>@x.penalties_order</td>
                <td>@x.penalties_missed</td>
            </tr>
        }
    </tbody>
</table>

<h2>Direct Free Kick Takers</h2>

<table class="table table-hover table-striped-columns text-center">
    <thead>
        <tr>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].element_type)">
                @Html.DisplayNameFor(model => model.team_elements[0].element_type).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].now_cost)">
                @Html.DisplayNameFor(model => model.team_elements[0].now_cost).Substring(0, 1)
            </th>
            <th>Name</th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].minutes)">
                @Html.DisplayNameFor(model => model.team_elements[0].minutes).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].points_per_game)">
                PPG
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].total_points)">
                P
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].form)">
                @Html.DisplayNameFor(model => model.team_elements[0].form).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].selected_by_percent)">
                @Html.DisplayNameFor(model => model.team_elements[0].selected_by_percent).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].chance_of_playing_this_round)">
                COPTR
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].chance_of_playing_next_round)">
                COPNR
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].news)">
                @Html.DisplayNameFor(model => model.team_elements[0].news)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].bonus)">
                @Html.DisplayNameFor(model => model.team_elements[0].bonus).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].bps)">
                BPS
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].influence)">
                @Html.DisplayNameFor(model => model.team_elements[0].influence).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].creativity)">
                @Html.DisplayNameFor(model => model.team_elements[0].creativity).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].threat)">
                @Html.DisplayNameFor(model => model.team_elements[0].threat).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].ict_index)">
                @Html.DisplayNameFor(model => model.team_elements[0].ict_index).Substring(0, 3)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].corners_and_indirect_freekicks_order)">
                CIFO
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].direct_freekicks_order)">
                DFO
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].penalties_order)">
                PO
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].penalties_missed)">
                PM
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.direct_freekicks_elements)
        {
            <tr>
                <td>@x.element_type</td>
                <td>@x.now_cost</td>
                <td><a asp-controller="Element" asp-action="Details" asp-route-id="@x.id"><p>@x.web_name</p>(@x.first_name @x.second_name)</a></td>
                <td>@x.minutes</td>
                <td>@x.points_per_game</td>
                <td>@x.total_points</td>
                <td>@x.form</td>
                <td>@x.selected_by_percent %</td>
                @*<td>@x.transfers_in (@x.transfers_in_event) / @x.transfers_out (@x.transfers_out_event)</td>*@
                <td>@x.chance_of_playing_this_round %</td>
                <td>@x.chance_of_playing_next_round %</td>
                <td><p>@x.news</p>@x.news_added</td>
                <td>@x.bonus</td>
                <td>@x.bps</td>
                <td>@x.influence</td>
                <td>@x.creativity</td>
                <td>@x.threat</td>
                <td>@x.ict_index</td>
                <td><p>@x.corners_and_indirect_freekicks_order</p>@x.corners_and_indirect_freekicks_text</td>
                <td><p>@x.direct_freekicks_order</p>@x.direct_freekicks_text</td>
                <td><p>@x.penalties_order</p>@x.penalties_text</td>
                <td>@x.penalties_missed</td>
            </tr>
        }
    </tbody>
</table>

<h2>Corners & Indirect Free Kick Takers</h2>

<table class="table table-hover table-striped-columns text-center">
    <thead>
        <tr>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].element_type)">
                @Html.DisplayNameFor(model => model.team_elements[0].element_type).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].now_cost)">
                @Html.DisplayNameFor(model => model.team_elements[0].now_cost).Substring(0, 1)
            </th>
            <th>Name</th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].minutes)">
                @Html.DisplayNameFor(model => model.team_elements[0].minutes).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].points_per_game)">
                PPG
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].total_points)">
                P
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].form)">
                @Html.DisplayNameFor(model => model.team_elements[0].form).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].selected_by_percent)">
                @Html.DisplayNameFor(model => model.team_elements[0].selected_by_percent).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].chance_of_playing_this_round)">
                COPTR
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].chance_of_playing_next_round)">
                COPNR
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].news)">
                @Html.DisplayNameFor(model => model.team_elements[0].news)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].bonus)">
                @Html.DisplayNameFor(model => model.team_elements[0].bonus).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].bps)">
                BPS
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].influence)">
                @Html.DisplayNameFor(model => model.team_elements[0].influence).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].creativity)">
                @Html.DisplayNameFor(model => model.team_elements[0].creativity).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].threat)">
                @Html.DisplayNameFor(model => model.team_elements[0].threat).Substring(0, 1)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].ict_index)">
                @Html.DisplayNameFor(model => model.team_elements[0].ict_index).Substring(0, 3)
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].corners_and_indirect_freekicks_order)">
                CIFO
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].direct_freekicks_order)">
                DFO
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].penalties_order)">
                PO
            </th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.team_elements[0].penalties_missed)">
                PM
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.corners_and_indirect_freekicks_elements)
        {
            <tr>
                <td>@x.element_type</td>
                <td>@x.now_cost</td>
                <td><a asp-controller="Element" asp-action="Details" asp-route-id="@x.id"><p>@x.web_name</p>(@x.first_name @x.second_name)</a></td>
                <td>@x.minutes</td>
                <td>@x.points_per_game</td>
                <td>@x.total_points</td>
                <td>@x.form</td>
                <td>@x.selected_by_percent %</td>
                <td>@x.chance_of_playing_this_round %</td>
                <td>@x.chance_of_playing_next_round %</td>
                <td><p>@x.news</p>@x.news_added</td>
                <td>@x.bonus</td>
                <td>@x.bps</td>
                <td>@x.influence</td>
                <td>@x.creativity</td>
                <td>@x.threat</td>
                <td>@x.ict_index</td>
                <td>@x.corners_and_indirect_freekicks_order</td>
                <td>@x.direct_freekicks_order</td>
                <td>@x.penalties_order</td>
                <td>@x.penalties_missed</td>
            </tr>
        }
    </tbody>
</table>
