@model FantasyPremierLeague.ViewModels.TeamListViewModel

@{
    ViewData["Title"] = "Teams";
}

<h2>All Teams</h2>

<table class="table table-hover table-striped-columns">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < @Model.teams.Length; i++)
        {
            <tr>
                <th scope="col">@(i + 1)</th>
                <td><a asp-action="Details" asp-route-id="@Model.teams[i].id">@Model.teams[i].name</a></td>
                <td>@Model.teams[i].total_points</td>
            </tr>
        }
    </tbody>
</table>
