@model FantasyPremierLeague.ViewModels.DreamteamDetailViewModel

@{
    ViewData["Title"] = "Details Dreamteam";
}

<h2>Details Dreamteam</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.team.Count; i++)
        {
            <tr>
                <td>@Model.team[i].position</td>
                <td><a asp-controller="Element" asp-action="Details" asp-route-id="@Model.Players[i].id">@Model.Players[i].web_name</a></td>
                <td>@Model.team[i].points</td>
            </tr>
        }
    </tbody>
</table>

<h2>Prediction Dreamteam</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Average BPS</th>
            <th>Average ICT</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.prediction.Count; i++)
        {
            <tr>
                <td><a asp-controller="Element" asp-action="Details" asp-route-id="@Model.prediction[i].id">@Model.prediction[i].web_name</a></td>
            </tr>
        }
    </tbody>
</table>