@model FantasyPremierLeague.ViewModels.DreamteamDetailViewModel

@{
    ViewData["Title"] = "Details Dreamteam";
}

<div class="text-center">
    <h1 class="display-5">Details Dreamteam</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.dreamteam[0].first_name_and_web_name)</th>
            <th>@Html.DisplayNameFor(model => model.dreamteam[0].points)</th>
            <th>@Html.DisplayNameFor(model => model.dreamteam[0].team_name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dreamteam)
        {
            <tr>
                <th scope="col">@item.position</th>
                <td>
                    <a asp-controller="Element" asp-action="Details" asp-route-id="@item.element">
                        @item.first_name_and_web_name
                    </a>
                </td>
                @*<td><a asp-controller="Element" asp-action="Details" asp-route-id="@Model.Players[i].id">@Model.Players[i].web_name</a></td>*@
                <td>@item.points</td>
                <td>
                    <a asp-controller="Team" asp-action="Details" asp-route-id="@item.team">
                        @item.team_name
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <h1 class="display-5">Prediction Dreamteam</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>BPS</th>
            <th>ICT</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.dreamteam_prediction)
        {
            <tr>
                <td>
                    <a asp-controller="Element" asp-action="Details" asp-route-id="@item.id">
                        @item.first_name_and_web_name
                    </a>
                </td>
                <td>@item.stats.bps</td>
                <td>@item.stats.ict_index</td>
                <td>@item.stats.total_points</td>
            </tr>
        }
    </tbody>
</table>