@model FantasyPremierLeague.ViewModels.DreamteamListViewModel

@{
    ViewData["Title"] = "Players";
}

<div class="text-center">
    <h1 class="display-5">Dreamteams</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Gameweek</th>
            <th>MVP</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.events_list)
        {
            <tr>
                <td>
                    <a asp-controller="Dreamteam" asp-action="Details" asp-route-id="@item.id">
                        @item.id
                    </a>
                </td>
                <td>
                    <a asp-controller="Element" asp-action="Details" asp-route-id="@item.top_element_info.id">
                        @item.top_element_info.first_and_web_name
                        (@item.top_element_info.points)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>