@model FantasyPremierLeague.ViewModels.DreamteamListViewModel

@{
    ViewData["Title"] = "Players";
}

<div class="text-center">
    <h1 class="display-5">Dreamteams</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.events_list[0].name)</th>
            <th data-bs-trigger="hover focus"
                data-bs-toggle="popover"
                data-bs-placement="top"
                data-bs-content="@Html.DisplayNameFor(model => model.events_list[0].top_element)">
                MVP
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.events_list)
        {
            <tr>
                <th scope="col">@item.id</th>
                <td>
                    <a asp-controller="Dreamteam" asp-action="Details" asp-route-id="@item.id">
                        @item.name
                    </a>
                </td>
                <td>
                    <a asp-controller="Element" asp-action="Details" asp-route-id="@item.top_element_info.id">
                        @item.top_element_info.first_and_web_name
                        (@item.top_element_info.points)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>