@model FantasyPremierLeague.ViewModels.ElementDetailsViewModel

@{
    ViewData["Title"] = $"Details {Model.element.web_name}";
}

<h2>Details @Model.element.first_name @Model.element.web_name</h2>
<h3>@Model.element_type.singular_name</h3>
<h3><a asp-controller="Team" asp-action="Details" asp-route-id="@Model.element.team">@Model.element.team</a></h3>

<table class="table table-hover table-striped-columns">
    <thead>
        <tr>
            <th>GW</th>
            <th>Opponent</th>
            <th>Cost (@Model.CostDifference)</th>
            <th>Minutes Played (@Model.element.minutes)</th>
            <th>Pts (@Model.element.total_points)</th>
            @*
                <th>Form</th>
                <th>Selected</th>
                <th>TransferIn (GW) / TransferOut (GW) </th>
                <th>Plays This GW</th>
                <th>Plays Next GW</th>
                <th>News</th>
                <th>Goals</th>
                <th>Owngoals</th>
                <th>Assists</th>
                <th>CS</th>
                <th>Goals conceded</th>
                <th>Saves</th>
                <th>Pen Saved</th>
                <th>Pen Missed</th>
                <th>Yellow</th>
                <th>Red</th>
                <th>Bonus</th>
                <th>BPS</th>
                <th>Influence</th>
                <th>Creativity</th>
                <th>Threath</th>
                <th>ICT</th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.history)
        {
            <tr>
                <td>@x.round</td>
                <td><a asp-controller="Team" asp-action="Details" asp-route-id="@x.opponent_team">@x.opponent_team</a></td>
                <td>@x.value</td>
                <td>@x.minutes</td>
                <td>@x.total_points</td>
                @*<td>@x.form</td>
                <td>@x.selected_by_percent %</td>
                <td>@x.transfers_in (@x.transfers_in_event) / @x.transfers_out (@x.transfers_out_event)</td>
                <td>@x.chance_of_playing_this_round %</td>
                <td>@x.chance_of_playing_next_round %</td>
                <td><p>@x.news</p>@x.news_added</td>
                <td>@x.goals_scored</td>
                <td>@x.own_goals</td>
                <td>@x.assists</td>
                <td>@x.clean_sheets</td>
                <td>@x.goals_conceded</td>
                <td>@x.saves</td>
                <td>@x.penalties_saved</td>
                <td>@x.penalties_missed</td>
                <td>@x.yellow_cards</td>
                <td>@x.red_cards</td>
                <td>@x.bonus</td>
                <td>@x.bps</td>
                <td>@x.influence</td>
                <td>@x.creativity</td>
                <td>@x.threat</td>
                <td>@x.ict_index</td>*@
            </tr>
        }
    </tbody>
</table>