@model FantasyPremierLeague.ViewModels.ElementListViewModel

@{
    ViewData["Title"] = "Players";
}

<div class="text-center">
    <h1 class="display-5">All Players</h1>
</div>

<form asp-controller="Element" asp-action="Index">
    <div class="row mb-3">
        <div class="col-3">
            <label for="team" class="col-form-label">Team</label>
            <select class="form-select" asp-for="@Model.team_id" asp-items="@Model.teams_selectlist" id="team">
                <option value="">All</option>
            </select>
        </div>
        <div class="col-3">
            <label for="position" class="col-form-label">Position</label>
            <select class="form-select" asp-for="@Model.element_type_id" asp-items="@Model.element_types_selectlist" id="element_type">
                <option value="">All</option>
            </select>
        </div>
        @*Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />*@
    </div>
    <div class="row">
        <div class="col-auto">
            <input type="submit" value="Filter" />
        </div>
    </div>
</form>

<table class="table table-hover table-striped-columns">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.elements_list[0].id)</th>
            <th>@Html.DisplayNameFor(model => model.elements_list[0].element_type)</th>
            <th>@Html.DisplayNameFor(model => model.elements_list[0].full_name)</th>
            <th>@Html.DisplayNameFor(model => model.elements_list[0].team_name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.elements_list)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.element_type_short_name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id">
                        @item.full_name
                    </a>
                </td>
                <td>
                    <a asp-controller="Team" asp-action="Details" asp-route-id="@item.team">
                        @item.team_name
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>